/** @format */
/* ------------------------------------------------------------COMPOSANT ---------------------------------------------------------*/
@import "./style/css/fonts.css";
@import "./style/css/body.css";
@import "./style/css/header.css";
@import "./style/css/reset.css";
@import "./style/css/footer.css";
@import "./style/css/button.css";
@import "./style/css/container-description.css";
@import "./style/css/kalendes.css";
@import "./style/css/card-description.css";
@import "./style/css/banner-image.css";

/* ------------------------------------------------------------PAGE ---------------------------------------------------------*/

@import "./style/css/page-home.css";
@import "./style/css/page-minceur.css";
@import "./style/css/page-epilation.css";
@import "./style/css/page-onglerie.css";
@import "./style/css/page-soins-visage.css";
@import "./style/css/page-soins-corps.css";
@import "./style/css/page-idee-cadeau.css";
@import "./style/css/page-beaute-du-regard.css";
@import "./style/css/page-a-propos.css";
@import "./style/css/page-soins.css";
@import "./style/css/page-maquillage.css";

@media screen and (max-width: 1024px) {
  body {
    background-color: tomato !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: limegreen !important;
  }
}

@media screen and (max-width: 390px) {
  body {
    background-color: dodgerblue !important;
  }
}
