/** @format */

.banner-image {
  width: 100%;
  background-color: var(--color-green-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  padding: 2rem 0;
  position: relative;
  gap: 5rem;
}
.banner-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 46px;
}
