/** @format */
/* Declaration Couleur */
:root {
  --color-green-1: #cdd6c8;
  --color-green-2: #9b9c86;
  --color-pink-1: #daa7a1;
  --color-text-green: #293124;
  --color-black: #000;
  --color-white: #f9f3f2;
}

* {
  box-sizing: border-box;
}

.border-radius {
  border-radius: 45px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-green);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-page {
  font-family: "Bollent" !important;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.subtitle-page {
  font-family: "Montserrat" !important;
  font-size: 1rem;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.center {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.center-text {
  margin-top: 10rem;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.left-text {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.right-text {
  width: 100%;
  text-align: right;
}

.right-text h3 {
  font-family: "Bollent" !important;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.left-text h3 {
  font-family: "Bollent" !important;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.left-text p {
  font-family: "Montserrat" !important;
  font-size: 1rem;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 2rem;
  width: 70%;
}

.center-text p {
  font-family: "Montserrat" !important;
  font-size: 1rem;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.center-text h3 {
  font-family: "Bollent" !important;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.border-solid {
  border: 1px solid var(--color-text-green);
}
.border-solid-top {
  border-top: 1px solid var(--color-text-green);
  width: 100%;
}
.border-solid-bottom {
  border-bottom: 1px solid var(--color-text-green);
  width: 100%;
}
.margin-top-5 {
  margin-top: 5rem !important;
}

.text-padding-green {
  width: 60vw;
  background-color: var(--color-green-1);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-padding-green h3 {
  padding: 1rem;
  color: var(--color-text-green);
  font-family: "Montserrat" !important;
  font-size: 1rem;
  text-align: left;
}

.text-padding-green img {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}
