/** @format */
/* Declaration Couleur */
:root {
  --color-green-1: #cdd6c8;
  --color-green-2: #9b9c86;
  --color-pink-1: #daa7a1;
  --color-text-green: #293124;
  --color-black: #000;
  --color-white: #f9f3f2;
}

.border-radius {
  border-radius: 45px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-green);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-page {
  font-family: "Bollent" !important;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.subtitle-page {
  font-family: "Montserrat" !important;
  font-size: 1rem;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.center-text {
  width: 100%;
  text-align: center;
}
.left-text {
  width: 60%;
  text-align: left;
}

.right-text {
  width: 100%;
  text-align: right;
}

.right-text h3 {
  font-family: "Bollent" !important;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.left-text h3 {
  font-family: "Bollent" !important;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.left-text p {
  font-family: "Montserrat" !important;
  font-size: 1rem;
  color: var(--color-text-green);
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 2rem;
  width: 70%;
}

.border-solid {
  border: 1px solid var(--color-text-green);
}


.text-padding-green {
  width: 50vw;
  background-color: var(--color-green-1);
  margin: 0 auto;
}

.text-padding-green h3 {

  padding: 1rem;

  color: var(--color-text-green);
  font-family: "Montserrat" !important;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}