/** @format */

/* ------------------------------------------------------------BUTTON HEADER --------------------------------------------------------- */

.button-header {
  background-color: var(--color-pink-1);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
.button-header:hover {
  background-color: var(--color-white);
  color: var(--color-pink-1);
  border: 1px solid var(--color-pink-1);
}
.text-decoration-none {
  text-decoration: none;
}

/* ------------------------------------------------------------BUTTON CLASSIQUE --------------------------------------------------------- */
.button {
  background-color: orange;
  color: #fff;
  border: none;

  border-radius: 100px;
  margin: 2rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  /* mettre en majusucule */
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #ebebeb;
  color: #000;
}

.button-green {
  background-color: var(--color-green-2) !important;
  color: #f9f3f2 !important;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out;
}

.button-green:hover {
  background-color: #ebebeb !important;
  color: #000 !important;
}

.button-pink {
  background-color: var(--color-pink-1);
  color: var(--color-white);
  width: 340px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.button-pink:hover {
  background-color: var(--color-white);
  color: var(--color-pink-1);
  border: 1px solid var(--color-pink-1);
}

/* ---------------------------------------------------------------------RESPONSIVE(---------------------------------------- */
@media screen and (max-width: 1024px) {
  .button-header {
    background-color: var(--color-pink-1);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
}

/* ---------------------------------------------------------------------RESPONSIVE(---------------------------------------- */

@media screen and (max-width: 768px) {
  .button-header {
    background-color: var(--color-pink-1);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .button-header {
    background-color: var(--color-pink-1);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    left: 0%;
    transform: none;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .mobile-menu-icon {
    display: flex;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    position: relative;
    align-items: center;
    justify-content: space-around;
  }
}
