/** @format */
.epilation-price .cire-price::after,
.fil-price::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 49% 49% 2% 2%/40% 40% 2% 2%;
  border: 1px solid #9b9c86;
  margin: 10px;
}

.epilation-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin: 10rem 0;
}
.epilation-price .cire-price {
  width: 41.25rem;
  height: auto;
  position: relative;
  background-color: #cdd6c8;
  border-radius: 49% 49% 2% 2%/40% 40% 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 1rem 0;
}
.epilation-price .cire-price h2 {
  color: #293124;
  text-align: center;
  font-family: Bollent;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.5px; /* 25.781% */
  margin: 1rem 0;
}
.epilation-price .cire-price p {
  color: #293124;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}
.epilation-price .cire-price img {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}
.epilation-price .cire-price .epilation-stuff-price-text {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.epilation-price .fil-price {
  width: 358px;
  min-height: 18rem;
  position: relative;
  background-color: var(--color-green-1);
  border-radius: 49% 49% 2% 2%/40% 40% 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.epilation-price .fil-price .epilation-stuff-price-text {
  width: 50%;
}
.epilation-price .fil-price h2 {
  color: #293124;
  text-align: center;
  font-family: Bollent;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  margin: 1rem 0;
}
.epilation-price .fil-price p {
  color: #293124;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.epilation-price .fil-price img {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.epilation-banner {
  width: 100%;
  background-color: var(--color-green-1);
  margin-top: 3rem;
}
.epilation-banner img {
  width: 50%;
  height: 340px;
  object-fit: cover;
  filter: blur(2px);
}

.forfait-container {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.forfait-container .forfait-container-border {
  border: 1px solid #cdd6c8;
  border-radius: 48px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5rem;
  padding: 5rem 0;
}
.forfait-container .forfait-container-border h2 {
  padding-left: 3rem;
  font-family: "Bollent";
  font-size: 3rem;
  color: var(--color-text-green);
}
.forfait-container .forfait-container-border p {
  padding-left: 5rem;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: var(--color-text-green);
}

.epilation-card-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border-radius: 46px;
}
.epilation-card-container .epilation-card-item {
  width: 50%;
  background-color: var(--color-green-1);
  border-radius: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.epilation-card-container .epilation-card-item .icone {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}
.epilation-card-container .epilation-card-item .icone .border {
  border: 1px solid black;
  width: 120px;
  height: -37px;
}
.epilation-card-container .epilation-card-item .icone img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid black;
}
.epilation-card-container .epilation-card-item .text {
  position: relative;
  width: 87%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.epilation-card-container .epilation-card-item .text p {
  color: #293124;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  width: 100%;
}

/*# sourceMappingURL=page-epilation.css.map */
