@charset "UTF-8";
/** @format */
.onglerie-page h2 {
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--color-text-green);
}

.container-onglerie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0;
}
.container-onglerie .container-onglerie-text {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 46px;
  border: 1px solid var(--color-text-green);
  position: relative;
}
.container-onglerie .container-onglerie-text .text-onglerie {
  font-family: "Bollent";
  font-size: 2rem;
  color: var(--color-text-green);
}
.container-onglerie .container-onglerie-text .list-onglerie {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.container-onglerie .container-onglerie-text .list-onglerie li {
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--color-text-green);
}
.container-onglerie .container-onglerie-text img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  aspect-ratio: 9/16;
  right: 0;
  transform: translate(calc(100% + 200px), 0);
  border-radius: 2rem;
}
.container-onglerie .container-onglerie-img {
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 46px;
  border: 1px solid red;
}

.container-onglerie-description {
  background-color: var(--color-green-1);
  border-radius: 46px;
  width: 500px;
  left: 55%;
  top: -2%;
  transform: translateX(-50%);
  position: relative;
}
.container-onglerie-description p {
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--color-text-green);
  padding: 2rem;
}

h3.supplement {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--color-text-green);
  padding: 2rem;
  width: 40%;
}
h3.supplement b {
  font-weight: bold;
}

/* <div class="container-beaute">
    <div class="left">
        <img class="img-beaute" src="https://picsum.photos/800/800" alt="">
    </div>
    <div class="right">
        <div class="price">
            <h3 class="text-onglerie">Beauté des mains</h3>
            <p>30 minutes / 30€</p>
        </div>
        <div class="description">
            <p>Votre esthéticienne lime votre ongle, repousse et retire les cuticules et enfin applique une base
                transparente protectrice et qui sublime vos ongles.</p>
        </div>
    </div>
</div> */
.container-beaute {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-beaute .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 46px;
  border: 1px solid var(--color-text-green);
}
.container-beaute .left img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.container-beaute .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  width: auto;
}
.container-beaute .right .price {
  border: 1px solid var(--color-text-green);
  width: 40%;
  padding: 1rem;
}
.container-beaute .right .price p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--color-text-green);
  padding: 2rem;
}
.container-beaute .right .price h3 {
  font-family: "Bollent";
  font-size: 2rem;
  color: var(--color-text-green);
  text-align: center;
}
.container-beaute .right .description {
  border: 1px solid var(--color-text-green);
  background-color: var(--color-green-1);
  width: 40%;
  padding: 2rem;
  border-radius: 0% 8% 8% 25%/25% 8% 8% 0%;
}
.container-beaute .right .description p {
  font-family: "Montserrat";
  font-size: 1rem;
  color: var(--color-text-green);
  padding: 2rem;
}

.onglerie-button {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

/*# sourceMappingURL=page-onglerie.css.map */
