/** @format */

.onglerie-page {
  h2 {
    font-family: "Montserrat";
    font-size: 1rem;
    color: var(--color-text-green);
  }
}

.container-onglerie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0;

  .container-onglerie-text {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 46px;
    border: 1px solid var(--color-text-green);
    position: relative;
    .text-onglerie {
      font-family: "Bollent";
      font-size: 2rem;
      color: var(--color-text-green);
    }

    .list-onglerie {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;

      li {
        font-family: "Montserrat";
        font-size: 1rem;
        color: var(--color-text-green);
      }
    }

    img {
      object-fit: cover;
      position: absolute;
      height: 100%;
      aspect-ratio: 9/16;
      right: 0;
      transform: translate(calc(100% + 200px), 0);
      border-radius: 2rem;
    }
  }

  .container-onglerie-img {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 46px;
    border: 1px solid red;
  }
}

.container-onglerie-description {
  background-color: var(--color-green-1);
  border-radius: 46px;
  width: 500px;
  left: 55%;
  top: -2%;
  transform: translateX(-50%);
  position: relative;
  p {
    font-family: "Montserrat";
    font-size: 1rem;
    color: var(--color-text-green);
    padding: 2rem;
  }
}

h3.supplement {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--color-text-green);
  padding: 2rem;
  width: 40%;

  b {
    font-weight: bold;
  }
}

/* <div class="container-beaute">
    <div class="left">
        <img class="img-beaute" src="https://picsum.photos/800/800" alt="">
    </div>
    <div class="right">
        <div class="price">
            <h3 class="text-onglerie">Beauté des mains</h3>
            <p>30 minutes / 30€</p>
        </div>
        <div class="description">
            <p>Votre esthéticienne lime votre ongle, repousse et retire les cuticules et enfin applique une base
                transparente protectrice et qui sublime vos ongles.</p>
        </div>
    </div>
</div> */

.container-beaute {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left {
    height: auto;
    width: 52%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* position: absolute; */
      border-radius: 46px;
    }
  }
  .right {
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid blue;
    width: auto;
    gap: 2rem;

    .price {
      border: 1px solid var(--color-text-green);
      width: 73%;
      padding: 10px;
      border-radius: 50px;
      left: 50%;
      transform: translateX(10%);
      p {
        text-align: center;
        font-family: "Montserrat";
        font-size: 1rem;
        color: var(--color-text-green);
        margin: 1rem;
      }

      h3 {
        font-family: "Bollent";
        font-size: 2rem;
        color: var(--color-text-green);
        text-align: center;
        margin: 10px;
      }
    }

    .description {
      background-color: var(--color-green-1);
      width: 70%;
      padding: 2rem;
      border-radius: 0% 50px 50px 0%/0% 50px 50px 0%;
      p {
        font-family: "Montserrat";
        font-size: 1rem;
        color: var(--color-text-green);
      }
    }
  }
}

.onglerie-button {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}
