
.tarif-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  .tarif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 10rem 0px;
    gap: 2vw;

    .text {
      border: 1px solid var(--color-green-1);
      border-radius: 46px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-family: "Bollent", sans-serif;
        font-size: 2.5rem;
        color: var(--color-black);
        text-align: center;
        margin-bottom: 1vw;
      }

      p {
        padding: 1vw 0;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        color: var(--color-text-green);
        margin-bottom: 1vw;
        margin-left: 3vw;
        padding: 10px;
        line-height: 3rem;
      }
    }
    img {
      min-width: 30vh;
      min-height: 30vh;
      border-radius: 46px;
      object-fit: cover;
    }
  }
}
/* --------------------------------------------------------------RESPONSIVE 768px-------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .text-padding-green {
    width: 90vw;
    background-color: var(--color-green-1);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* --------------------------------------------------------------RESPONSIVE 390px-------------------------------------------------------------- */

@media screen and (max-width: 390px) {
  .text-padding-green {
    width: 90vw;
    background-color: var(--color-green-1);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tarif-container .tarif {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    gap: 2vw;
  }
  .text-padding-green {
    width: 90vw;
    background-color: var(--color-green-1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
